@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 45%; }

body {
  font-family: 'Fredoka', sans-serif;
  background-color: #f6f6f6; }

ul {
  list-style: none; }

input,
textarea {
  font-family: 'Fredoka', sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: 2.5rem;
  background-color: #ffffff;
  border-radius: 2rem;
  border-style: none; }
  input:focus,
  textarea:focus {
    outline-style: none; }

textarea {
  resize: none; }

a {
  text-decoration: none;
  color: #000000; }

button a {
  color: #ffffff; }

.text-small-R {
  font-size: 1.6rem;
  font-weight: 400; }

.text-normal-R {
  font-size: 2rem;
  font-weight: 400; }

.text-medium-R {
  font-size: 2.4rem;
  font-weight: 400; }

.text-medium-M {
  font-size: 2.4rem;
  font-weight: 500; }

.text-medium-SB {
  font-size: 2.4rem;
  font-weight: 600; }

.text-extra-medium-SB {
  font-size: 2.8rem;
  font-weight: 500; }

.text-large-M {
  font-size: 4rem;
  font-weight: 500; }

.text-extra-large-M {
  font-size: 4.8rem;
  font-weight: 500; }

.text-extra-large-SB {
  font-size: 4.8rem;
  font-weight: 600; }

.text-normal-sparsed-M {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5em; }

.container-small {
  max-width: 65rem;
  margin: 5rem auto; }

.container-medium {
  width: 70rem;
  padding: 1rem;
  background-color: #ededed;
  border-radius: 3rem; }

.container-large {
  max-width: 112rem;
  margin: 5rem auto; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24; }

.icon {
  padding: 1rem;
  border-radius: 50%; }
  .icon--light {
    background-color: #ededed; }
  .icon--dark {
    background-color: #d9d9d9; }

.announcement {
  display: grid;
  grid-template-columns: min-content max-content 1fr;
  grid-gap: 1rem 2rem;
  align-items: center;
  padding: 2.5rem;
  padding-bottom: 3.2rem;
  background-color: #ededed;
  border-radius: 2.5rem; }
  .announcement__title::first-letter {
    text-transform: uppercase; }
  .announcement__timestamp {
    justify-self: end; }
  .announcement__message {
    grid-column: 2/-1; }

.sign-up,
.sign-in {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding: 8rem;
  padding-bottom: 5rem;
  background-color: #ededed;
  border-radius: 3rem; }
  .sign-up .account-type-tabs,
  .sign-in .account-type-tabs {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 0 1rem;
    text-align: center;
    padding: 1rem;
    background-color: #d9d9d9;
    border-radius: 3rem; }
    .sign-up .account-type-tabs .tab,
    .sign-in .account-type-tabs .tab {
      padding: 2rem 3rem;
      border-radius: 2.5rem;
      background-color: #ffffff; }
  .sign-up form,
  .sign-in form {
    text-align: center;
    margin: 5rem auto 0 auto; }
    .sign-up form input,
    .sign-in form input {
      width: 100%; }
      .sign-up form input:not(:first-child),
      .sign-in form input:not(:first-child) {
        margin-top: 2rem; }
    .sign-up form button,
    .sign-in form button {
      margin-top: 5rem; }

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 4.8rem;
  margin-bottom: 8rem;
  padding: 1rem 2.5rem 1.5rem 2.5rem;
  color: #ffffff;
  background-color: #1e1e1e;
  border-radius: 10rem; }

.btn {
  font-family: 'Fredoka', sans-serif;
  color: #ffffff;
  background-color: #1e1e1e;
  border-style: none; }
  .btn:disabled {
    background-color: darkgray; }
  .btn--capsule {
    font-size: 2.4rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 10rem; }
    .btn--capsule span {
      margin-right: 1.5rem; }
  .btn--capsule-sm {
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    border-radius: 10rem; }
    .btn--capsule-sm span {
      margin-right: 1.5rem; }
  .btn--round {
    font-size: 2rem;
    font-weight: 500;
    padding: 2.3rem;
    border-radius: 2rem; }
  .btn--round-lg {
    font-size: 2.4rem;
    font-weight: 500;
    padding: 2.5rem 4.3rem;
    border-radius: 2rem; }
  .btn--round-sm {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.2rem 2rem;
    border-radius: 1.5rem; }
  .btn--danger {
    color: #c93b37;
    background-color: #ff938b; }

.btn-alternate {
  font-family: 'Fredoka', sans-serif;
  margin-top: 2rem;
  padding: 3.3rem 0;
  width: 100%;
  color: #000000;
  background-color: #d9d9d9;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer; }
  .btn-alternate:hover {
    background-color: #ededed; }
  .btn-alternate span {
    color: #000000; }

.chore {
  border-radius: 2.5rem;
  overflow: hidden; }
  .chore__header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #d9d9d9; }
    .chore__header__title {
      margin-left: 2rem; }
      .chore__header__title::first-letter {
        text-transform: uppercase; }
    .chore__header__timestamp {
      margin-left: auto; }
  .chore__details, .chore__submission-details {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    align-items: center;
    grid-gap: 2.5rem 0;
    padding: 2.4rem 2.8rem;
    background-color: #ededed; }
    .chore__details > div:nth-child(2), .chore__submission-details > div:nth-child(2) {
      margin-left: 5rem; }
    .chore__details button, .chore__submission-details button {
      justify-self: end;
      grid-column: 3/-1; }
  .chore__submission-details {
    background-color: #ffffff; }
  .chore__submission-extras {
    text-align: right;
    background-color: #ffffff; }
  .chore__project-details {
    padding: 2.4rem 2.8rem;
    background-color: #ededed; }
    .chore__project-details__synopsis {
      margin: 2rem 0 2.5rem 0; }
    .chore__project-details button {
      display: flex;
      align-items: center; }
      .chore__project-details button div {
        margin-left: 1rem; }

.enrolled-students-list {
  margin: 4rem 3rem 6rem 3rem; }

.enrolled-student {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.course-card {
  border-radius: 2.5rem;
  overflow: hidden; }
  .course-card__details {
    position: relative;
    padding: 3rem;
    background-color: #d9d9d9; }
    .course-card__details__name {
      text-transform: capitalize; }
    .course-card__details__code {
      text-transform: uppercase;
      margin-top: 1rem; }
    .course-card__details__avatar {
      position: absolute;
      top: 100%;
      right: 3rem;
      width: 9rem;
      height: 9rem;
      transform: translateY(-50%);
      background-color: #1e1e1e;
      border-radius: 50%; }
  .course-card__access {
    display: flex;
    align-items: center;
    padding: 2rem 3rem;
    background-color: #ededed; }
    .course-card__access__code {
      margin-right: 2rem; }

.course-docket__courses-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 5rem 5rem;
  margin-top: 5rem; }

.course-docket .join-or-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #ededed; }
  .course-docket .join-or-create > span:nth-child(2) {
    margin-top: 2rem; }
  .course-docket .join-or-create:hover {
    background-color: #d9d9d9;
    cursor: pointer; }

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25); }

.create-course form .code {
  grid-column: 2 / span 2; }

.create-course form .credits {
  grid-column: 5 / span 2; }

.create-course form .name {
  grid-column: 2/-1; }

.create-chore form .doc-label {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
  height: 16rem;
  color: #ffffff;
  background-color: #1e1e1e;
  border-radius: 3rem; }

.create-chore form .doc-file {
  display: none; }

.create-chore form .title {
  grid-column: 2 / -1; }

.create-chore form .deadline {
  grid-column: 2 / span 2; }

.create-chore form .points {
  grid-column: 5 / span 2; }

.create-chore form .synopsis {
  grid-column: 2/-1; }

.create-chore form .team-member {
  grid-column: 1/-1; }

.create-announcement form .title {
  grid-column: 2 / -1; }

.create-announcement form .message {
  grid-column: 2 / -1; }

.create-discussion form .issue {
  grid-column: 2 / -1; }

.create__form {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: 2rem;
  align-items: center;
  padding: 4rem 3rem 0 3rem; }

.create-heading {
  padding: 2rem;
  padding-left: 3rem;
  background-color: #d9d9d9;
  border-radius: 2.5rem; }

.create__file {
  padding: 4rem 3rem 0 3rem; }

.create__cta {
  text-align: right;
  margin: 5rem 3rem 3rem 0; }
  .create__cta > button:not(:first-child) {
    margin-left: 2rem; }

.join-course form label {
  grid-column: 1 / span 2; }

.join-course form .accessCode {
  grid-column: 3/7; }

.discussion {
  border-radius: 2.5rem;
  overflow: hidden; }
  .discussion__header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #d9d9d9; }
    .discussion__header__student-name {
      margin-left: 2rem; }
    .discussion__header__timestamp {
      margin-left: auto; }
  .discussion__details {
    padding: 2.4rem 2.8rem;
    background-color: #ededed; }
    .discussion__details__issue {
      margin-bottom: 4rem; }
    .discussion__details__comment-input {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-gap: 0 2rem; }
  .discussion .individual-comment {
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    grid-gap: 0 2rem;
    margin-bottom: 4rem; }
    .discussion .individual-comment__avatar {
      width: 4rem;
      height: 4rem;
      background-color: #ffffff;
      border-radius: 50%; }
    .discussion .individual-comment__text {
      grid-column: 2/-1; }

.individual-course__banner {
  display: flex;
  flex-direction: column;
  height: 35rem;
  padding: 3rem 4rem;
  margin-bottom: 5rem;
  background-color: #d9d9d9;
  border-radius: 2.5rem; }
  .individual-course__banner__name {
    text-transform: capitalize; }
  .individual-course__banner__code {
    text-transform: uppercase;
    margin-top: 1rem; }
  .individual-course__banner__access {
    display: flex;
    align-items: center;
    margin-top: auto; }
    .individual-course__banner__access .access-code {
      margin-right: 2rem; }
    .individual-course__banner__access .instructor-name {
      margin-right: 2rem;
      padding: 1rem 2rem;
      text-transform: capitalize;
      background-color: #ffffff;
      border-radius: 3rem; }

.individual-course__work {
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  grid-gap: 5rem; }
  .individual-course__work__category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    align-self: start;
    background-color: #d9d9d9;
    border-radius: 2rem; }
  .individual-course__work__chore-p-create {
    display: flex;
    flex-direction: column; }
    .individual-course__work__chore-p-create .create {
      align-self: end;
      margin-bottom: 5rem; }
  .individual-course__work__list > li:not(:last-child) {
    margin-bottom: 3rem; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 50rem;
  background-color: #d9d9d9; }
  .navbar__logo {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8rem;
    padding: 1rem 2.5rem 1.5rem 2.5rem;
    color: #ffffff;
    background-color: #1e1e1e;
    border-radius: 10rem; }
  .navbar__account {
    width: 6rem;
    height: 6rem;
    background-color: black;
    border-radius: 50%; }

.study-material {
  border-radius: 2.5rem;
  overflow: hidden; }
  .study-material__header {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #d9d9d9; }
    .study-material__header__title {
      margin-left: 2rem; }
      .study-material__header__title::first-letter {
        text-transform: uppercase; }
    .study-material__header__timestamp {
      margin-left: auto; }
  .study-material__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 2.8rem;
    background-color: #ededed; }

.submissions-docket__submission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #d9d9d9;
  border-radius: 1.5rem; }
  .submissions-docket__submission:not(:last-child) {
    margin-bottom: 1.5rem; }
  .submissions-docket__submission__student-institute-id {
    margin-left: 1rem; }
  .submissions-docket__submission__grade-status {
    padding: 0.8rem 1.4rem;
    background-color: #ededed;
    border-radius: 1rem; }

.chore-submission__details__heading {
  text-align: right;
  margin-bottom: 2.5rem; }

.chore-submission__submissions__heading, .chore-submission__individual-submission__heading {
  text-align: right;
  margin-top: 5rem;
  margin-bottom: 2.5rem; }

.chore-submission__submissions > button, .chore-submission__individual-submission > button {
  margin-top: 2.5rem; }
