.course-card {
	border-radius: $border-radius-large;
	overflow: hidden;

	&__details {
		position: relative;
		padding: 3rem;

		background-color: $color-surface-primary;

		&__name {
			text-transform: capitalize;
		}

		&__code {
			text-transform: uppercase;
			margin-top: 1rem;
		}

		&__avatar {
			position: absolute;
			top: 100%;
			right: 3rem;
			width: 9rem;
			height: 9rem;
			transform: translateY(-50%);

			background-color: $color-surface-quarternary;
			border-radius: 50%;
		}
	}

	&__access {
		display: flex;
		align-items: center;

		padding: 2rem 3rem;
		background-color: $color-surface-secondary;

		&__code {
			margin-right: 2rem;
		}
	}
}

.course-docket {
	&__courses-list {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-gap: 5rem 5rem;

		margin-top: 5rem;
	}

	.join-or-create {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		border-radius: $border-radius-large;
		background-color: $color-surface-secondary;

		& > span:nth-child(2) {
			margin-top: 2rem;
		}

		&:hover {
			background-color: $color-surface-primary;
			cursor: pointer;
		}
	}
}

.popup {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(black, 0.25);
}
