.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1.5rem 50rem;
	background-color: $color-surface-primary;

	&__logo {
		font-family: 'Raleway', sans-serif;
		font-size: 4.8rem;
	}

	&__account {
		width: 6rem;
		height: 6rem;

		background-color: black;
		border-radius: 50%;
	}
}
