// -- COLORS -- //

// @background
$color-background: #f6f6f6; //#121212;

// @surface
$color-surface-header: #ffffff; //#000000;
$color-surface-primary: #d9d9d9; //#1e1e1e;
$color-surface-secondary: #ededed; //#242424;
$color-surface-tertiary: #ffffff; //#2c2c2c;
$color-surface-quarternary: #1e1e1e; //#121212;

// @text
$color-text-primary: #ffffff; //#d9d9d9;
$color-text-secondary: #989899;
$color-text-tertiary: #bfbfbf; //#5a5a5e;
$color-text-accent: #1e1e1e;
$color-text-disabled: #989899;

// @accent
$color-accent-primary: #6cb6ff;
$color-accent-secondary: #96d0ff;
$color-accent-tertiary: #c6e6ff;

// @errors
$color-surface-error: #ff938b;
$color-text-error: #c93b37;

// @success
$color-surface-success: #8ddb8c;
$color-text-success: #347d39;

// @border
$color-border-primary: #383838;

// -- FONTS -- //

// @font-weigths
$medium: 500;
$semibold: 600;

// -- BORDER -- //

// @radius
$border-radius-normal: 1.5rem;
$border-radius-medium: 2rem;
$border-radius-large: 2.5rem;
