*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 45%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $color-background;
}

ul {
	list-style: none;
}

input,
textarea {
	font-family: 'Montserrat', sans-serif;

	padding: 2.5rem;
	background-color: $color-surface-tertiary;
	border-radius: $border-radius-medium;
	border-style: none;

	&:focus {
		outline-style: none;
	}
}

textarea {
	resize: none;
}
