.container-small {
	max-width: 65rem;
	margin: 5rem auto;
}

.container-medium {
	max-width: 66rem;
	margin: 5rem auto;
	padding: 3rem;

	background-color: $color-surface-secondary;
	border-radius: $border-radius-extra-large;
}

.container-large {
	max-width: 112rem;
	margin: 5rem auto;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.icon {
	padding: 1rem;
	border-radius: 50%;

	&--light {
		background-color: $color-surface-secondary;
	}

	&--dark {
		background-color: $color-surface-primary;
	}
}
